<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="stylesheet" type="text/css" href="css/index.css" /> -->
    <title>Análise e Desenvolvimento de Sistemas</title>

    <!-- Integração do CSS externo -->
    <style type="text/css">
      @import "css/index.css";
    </style>
  </head>

  <body>
    <header>
      <div class="area-header">
        <h1>Anali. Dev de sistemas</h1>
        <nav>
          <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">SOBRE</a></li>
            <li><a href="">DISCIPLINAS</a></li>
            <li><a href="">GALERIA</a></li>
            <li><a href="">CONTATO</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
